* {
  margin: 0rem;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8fafc;
}

h1 {
  color: #333;
  text-transform: uppercase;
}

.box {
  background-color: white;
  padding: 2rem;
  border-radius: 9px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  gap: 1rem;
}

.get {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

button {
  background-color: #a4b8a0;
  border-radius: 9px;
  outline: none;
  border: none;
}

button:hover {
  transform: scale(1.05);
  background-color: lightgreen;
}

.adding {
  width: 40px;
  height: 50px;
}

.del {
  width: 60px;
  height: 30px;
}

input {
  border-radius: 7px;
  margin-bottom: 1rem;
  padding: 0.3rem;
}

ul {
  gap: 10px;
}

.tasks {
  padding: 12px 15px;
  border-radius: 8px;
  border: 2px solid #e1e4e8;
  font-size: 16px;
  outline: none;
  transition: border 0.9s ease;
}

.tasks:focus {
  border-color: #4caf50;
}

.cbox {
  appearance: none;
  -webkit-appearance: none;
  height: 1.25rem;
  width: 1.25rem;
  outline: none;
  background-color: white;
  border: 2px solid #4caf50;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cbox:checked {
  background-color: limegreen;
}

.cbox:checked::after {
  content: "✔";
  color: white;
  font-size: 0.8rem;
}

.boxtodo {
  min-height: 50px;
  border-left: 8px solid green;
  padding-top: 0.5rem;
  margin: 0.9rem;
  border-radius: 8px;
  font-size: 1.1rem;
}
