*{
 margin: 0rem;
}
body{
 display: flex;
 flex-direction: column; 
 align-items: center; 
}

h1 {
  color: #333;
  text-transform: uppercase;
}

.box{
 background-color: rgba(100, 131, 100,0.9);
 padding: 2rem; 
 border-radius: 9px;
 box-shadow: 0 4px 4px rgba(100,100,100,0.9);
 gap: 1rem; 
}
.get{
display: flex;
 gap: 10px;
}
button{
 background-color: #a4b8a0;
 border-radius: 9px; 
 border: none;
 width: 40px;
 height: 30px; 
}

button:hover{
 transform: scale(1.05);
 background-color: lightgreen; 
}

input{
 border-radius: 7px;
 margin-bottom: 1rem;
 padding: 0.3rem;
  
}
ul {
 gap:10px
}

.tasks {
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #000;
    font-size: 16px;
    outline: none;
    transition: border 0.9s ease;
}

.tasks:focus {
    border-color: #4CAF50; /* Changes color when you click in it */
}
